@use '@../../../sass/variables' as *;

.uni {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}

.iconEdit {
  color: $colorVerde;
}
.iconDelete {
  color: $colorRojo;
}
// propiedades de dialog
::ng-deep .mat-mdc-dialog-surface {
  border-radius: 0 !important;
}
// propiedades de tabla
.example-container {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 800px;
}
.card-table {
  width: 100%;
  background-color: $colorAzul;
  height: 60px;
  margin-top: -18px !important;
  margin-bottom: 75px;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: flex-start;
  display: flex !important;
  color: $colorBlanco;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid $colorAzul;
  filter: drop-shadow(0 0 12px $colorAzul);
}
#panel-table {
  position: relative;
  width: 100%;
  overflow: visible;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: -90px;
  margin-top: 34px;
  z-index: 2;
}
th.mat-mdc-header-cell {
  text-align: center;
  background: $colorBlanco;
  color: $colorAzul;
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 16px;
  font-weight: 600;
  align-content: center;
}

.mat-mdc-table tbody,
.mat-mdc-table tfoot,
.mat-mdc-table thead,
.mat-mdc-cell,
.mat-mdc-footer-cell,
.mat-mdc-header-row,
.mat-mdc-row,
.mat-mdc-footer-row,
.mat-mdc-table .mat-mdc-header-cell {
  background: inherit !important;
  text-align: center !important;
}

::ng-deep .mat-mdc-form-field {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  color: $colorAzul !important;
  background: $colorBlanco !important;
  text-align: center !important;
  font-size: 14px !important;
}

::ng-deep .mat-mdc-paginator-container {
  background: $colorAzul !important;
  color: $colorBlanco !important;
  font-weight: 500 !important;
}

::ng-deep .mat-sort-header-container {
  display: flex !important;
  justify-content: center !important;
  font-size: 14px !important;
}

::ng-deep .mat-sort-header-arrow,
[dir='rtl'] .mat-sort-header-position-before .mat-sort-header-arrow {
  margin: 0 0 0 6px !important;
  color: $colorAzul !important;
}

/* Tooltip verde para botón Edit */
::ng-deep .mat-mdc-tooltip.hola1 .mat-mdc-tooltip-surface {
  background-color: $colorVerde !important; /* verde Material */
  color: $colorBlanco !important;
}

/* Tooltip rojo para botón Delete */
::ng-deep .mat-mdc-tooltip.hola2 .mat-mdc-tooltip-surface {
  background-color: $colorRojo !important; /* rojo Material */
  color: $colorBlanco !important;
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  table {
  width: 300px;
}
}