<page-header />
<!-- modal de guardar -->
<ng-template #dialogAdd>
  <div class="modal-header">
    <h4 class="titulo">
      <div class="alinearIconsTitle">
        <iconify-icon icon="ic:twotone-assignment-ind" width="30" height="30" />{{
          'menu.roles.titulo.add' | translate
        }}
      </div>
      <iconify-icon
        class="closeDialogIconify"
        icon="line-md:close-square-twotone"
        width="28"
        height="28"
        (click)="closedModal()"
      />
    </h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="f.form.valid && saveData()" #f="ngForm" novalidate>
      <mat-form-field class="inputSave" appearance="outline">
        <mat-label for="name">{{ 'menu.roles.name' | translate }}</mat-label>

        <input
          matInput
          formControlName="name"
          name="name"
          [(ngModel)]="dataRoles.name"
          autocomplete="off"
        />
        @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
          <mat-error
            ><strong>{{ 'menu.roles.error.name' | translate }}</strong></mat-error
          >
        }
        @if (form.get('name')?.hasError('minlength') && form.get('name')?.touched) {
          <mat-error>Minimum 3 characters required</mat-error>
        }
      </mat-form-field>
    </form>
  </div>
  <div class="modal-footer">
    <button
      mat-flat-button
      type="submit"
      [disabled]="form.invalid"
      [ngClass]="form.valid ? 'btnSuccess' : 'btnNeutro'"
      (click)="saveData()"
    >
      <div class="alinearIconsButton">
        <iconify-icon icon="material-symbols:cloud" width="25" height="25" />
        {{ 'menu.principal.guardar' | translate }}
      </div>
    </button>
    <button mat-flat-button type="button" class="btnDanger" (click)="closedModal()">
      <div class="alinearIconsButton">
        <iconify-icon icon="ep:circle-close-filled" width="25" height="25" />{{
          'menu.principal.cerrar' | translate
        }}
      </div>
    </button>
  </div>
</ng-template>
<!-- fin modal guardar -->

<div class="presentacionPrincipal">
  <div class="definicionPrincipal">
    <div class="definicionUsers">
      <div>
        <img src="/images/role.png" alt="profile" class="userLogo" />
      </div>
      <div class="presentacionLetras">
        <p>{{ 'menu.roles.parrafoRoles' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="vistaUsers">
    <div class="barraAzul"></div>
    <div class="vista1">
      {{ this.total }}
    </div>
    <div class="vista2">{{ 'menu.roles.table.name' | translate }}</div>

    <div class="vista3">
      <button mat-flat-button class="btnInfo" [routerLink]="['/usuarios/add-usuarios']">
        <div class="alinearIconsButtonAdd">
          <iconify-icon icon="icon-park-twotone:add-one" width="30" height="30" />
          {{ 'menu.principal.adicionar' | translate }} {{ 'menu.sistema.roles' | translate }}
        </div>
      </button>
    </div>
  </div>
</div>

<div class="vistaTable">
  <div class="example-container">
    <div class="uni">
      <mat-form-field class="inputFind" appearance="outline">
        <mat-label for="obs">{{ 'menu.principal.buscar' | translate }}</mat-label>
        <input
          matInput
          [formControl]="searchControl"
          type="text"
          (keyup)="doFilter($event.target.value)"
          autocomplete="off"
        />
        @if ((searchControl.value ?? '') !== '') {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    </div>

    <div id="panel-table">
      <mat-card class="card-table" appearance="outlined">
        {{ 'menu.roles.titulo.table' | translate }}
      </mat-card>
    </div>
    <div class="table-container">
      <table
        mat-table
        fxFlex
        class="mat-elevation-z1 min-w-600"
        [dataSource]="dataSource"
        matSort
        (matSortChange)="onSortChange()"
      >
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="id" class="tableHeader">
            {{ 'menu.roles.table.name' | translate }}
          </th>
          <td mat-cell *matCellDef="let producto">{{ producto.name }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="tableHeader">
            {{ 'menu.principal.table.actions' | translate }}
          </th>
          <td mat-cell *matCellDef="let producto">
            <button
              matIconButton
              matTooltip="{{ 'menu.principal.edit' | translate }}"
              matTooltipPosition="below"
              matTooltipClass="hola1"
              (click)="openModalUpdate(producto._id, producto.name)"
            >
              <iconify-icon class="iconEdit" icon="tdesign:edit-filled" width="24" height="24" />
            </button>
            <button
              matIconButton
              #tooltip="matTooltip"
              matTooltip="{{ 'menu.principal.delete' | translate }}"
              matTooltipPosition="below"
              matTooltipClass="hola2"
              (click)="openModalDelete(producto._id, producto.name)"
            >
              <iconify-icon class="iconDelete" icon="mdi:delete" width="24" height="24" />
            </button>
            <!-- modal de eliminar -->
            <ng-template #dialogDelete>
              <div class="barraRoja"></div>
              <div class="modal-body">
                <div class="partePrincipalEliminar">
                  <div>
                    <img src="images/iconDelete.png" alt="profile" class="modalImageDelete" />
                  </div>
                  <div class="textoEliminar">
                    <h4>
                      <p>{{ 'menu.roles.delete.confirmar' | translate }}</p>
                    </h4>
                    <td id="delete-confirmation">{{ nameDelete }}</td>
                  </div>
                </div>

                <div class="modal-footer">
                  <button mat-flat-button type="submit" class="btnSuccess" (click)="deleteData()">
                    <div class="alinearIconsButton">
                      <iconify-icon icon="lets-icons:check-fill" width="25" height="25" />{{
                        'menu.principal.delete.confirmar.si' | translate
                      }}
                    </div>
                  </button>
                  <button mat-flat-button type="button" class="btnDanger" (click)="closedModal()">
                    <div class="alinearIconsButton">
                      <span class="material-icons"> cancel </span>
                      {{ 'menu.principal.delete.confirmar.no' | translate }}
                    </div>
                  </button>
                </div>
              </div>
            </ng-template>
            <!-- modal de editar -->
            <ng-template #dialogUpdate>
              <div class="modal-header">
                <h4 class="titulo">
                  <div class="alinearIconsTitle">
                    <iconify-icon icon="ic:twotone-assignment-ind" width="30" height="30" />
                    {{ 'menu.roles.titulo.modify' | translate }}
                  </div>
                  <iconify-icon
                    class="closeDialogIconify"
                    icon="line-md:close-square-twotone"
                    width="28"
                    height="28"
                    (click)="closedModal()"
                  />
                </h4>
              </div>
              <div class="modal-body">
                <form
                  [formGroup]="form"
                  (ngSubmit)="f.form.valid && updateData()"
                  #f="ngForm"
                  novalidate
                >
                  <mat-form-field class="inputUpdate" appearance="outline">
                    <mat-label for="name">{{ 'menu.roles.name' | translate }}</mat-label>
                    <input
                      matInput
                      formControlName="name"
                      name="name"
                      [(ngModel)]="dataRoles.name"
                      autocomplete="off"
                    />
                    @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
                      <mat-error
                        ><strong>{{ 'menu.roles.error.name' | translate }}</strong></mat-error
                      >
                    }
                    @if (form.get('name')?.hasError('minlength') && form.get('name')?.touched) {
                      <mat-error>Minimum 3 characters required</mat-error>
                    }
                  </mat-form-field>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  mat-flat-button
                  type="submit"
                  [disabled]="form.invalid"
                  [ngClass]="form.valid ? 'btnSuccess' : 'btnNeutro'"
                  (click)="updateData()"
                >
                  <div class="alinearIconsButton">
                    <iconify-icon icon="tdesign:ai-edit-1-filled" width="25" height="25" />
                    {{ 'menu.principal.modify' | translate }}
                  </div>
                </button>
                <button mat-flat-button type="button" class="btnDanger" (click)="closedModal()">
                  <div class="alinearIconsButton">
                    <iconify-icon icon="ep:circle-close-filled" width="25" height="25" />
                    {{ 'menu.principal.cerrar' | translate }}
                  </div>
                </button>
              </div>
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let producto; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>

  <mat-paginator
    [length]="total"
    [pageSize]="limit"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageChanged($event)"
  />
</div>
