<page-header />
<!-- modal de guardar -->
<ng-template #dialogAdd>
  <div class="modal-header">
    <h4 class="modal-title pull-left" class="titulo">
      <div class="alinearIconsTitle">
        <span class="material-icons"> bookmark </span>
        <iconify-icon icon="icon-park-solid:system" width="50" height="50" />
      </div>
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closedModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="f.form.valid && saveData()" #f="ngForm" novalidate>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label for="name">Name</mat-label>

        <input
          matInput
          formControlName="name"
          name="name"
          [(ngModel)]="dataRoles.name"
          autocomplete="off"
        />
        @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
          <mat-error>Name is <strong>required</strong></mat-error>
        }
        @if (form.get('name')?.hasError('minlength') && form.get('name')?.touched) {
          <mat-error>Minimum 3 characters required</mat-error>
        }
      </mat-form-field>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="form.invalid"
      (click)="saveData()"
    >
      <div class="alinearIconsButton">
        <span class="material-icons"> cloud </span>
        guardar
      </div>
    </button>
    <button type="button" class="btn btn-danger" (click)="closedModal()">
      <div class="alinearIconsButton"><span class="material-icons"> cancel </span>cerrar</div>
    </button>
  </div>
</ng-template>
<!-- fin modal guardar -->

<div class="presentacionPrincipal">
  <div class="definicionPrincipal">
    <div class="definicionUsers">
      <div class="presentacionLetras">
        <p>parrafo</p>
      </div>
    </div>
  </div>

  <div class="vistaUsers">
    <div class="barraAzul"></div>
    <div class="vista1">
      {{ this.total }}
    </div>
    <div class="vista2">tabla</div>

    <div class="vista3">
      <button mat-flat-button class="btnAdicionar" (click)="openModalSave()">
        <div class="alinearIconsButton">
          <span class="material-icons">add_circle </span>
          adccionar roles
        </div>
      </button>
    </div>
  </div>
</div>

<div class="example-container mat-elevation-z8">
  <div class="uni">
    <mat-form-field class="example-full-width1" appearance="outline">
      <mat-label for="obs">buscar</mat-label>
      <input
        matInput
        [formControl]="searchControl"
        type="text"
        (keyup)="doFilter($event.target.value)"
        autocomplete="off"
      />
      @if ((searchControl.value ?? '') !== '') {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>
  <div id="panel-table">
    <div class="tituloTabla">titulo</div>
  </div>
  <div class="table-container">
    <table
      mat-table
      fxFlex
      class="mat-elevation-z1 min-w-600"
      [dataSource]="dataSource"
      matSort
      (matSortChange)="onSortChange()"
    >
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="id" class="tableHeader" >nombre</th>
        <td mat-cell *matCellDef="let producto">{{ producto.name }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="tableHeader">acciones</th>
        <td mat-cell *matCellDef="let producto">
          <button
            mat-icon-button
            matTooltip="edit"
            matTooltipPosition="below"
            matTooltipClass="example-tooltip-red"
            (click)="openModalUpdate(producto._id, producto.name)"
          >
            <mat-icon class="icon10"> edit </mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="eliminar"
            matTooltipPosition="below"
            (click)="openModalDelete(producto._id, producto.name)"
          >
            <mat-icon color="warn" class="mat-18 mat-color-primary"> delete </mat-icon>
          </button>
          <!-- modal de eliminar -->
          <ng-template #dialogDelete>
            <div class="barraRoja"></div>
            <div class="modal-body text-center">
              <div class="partePrincipalEliminar">
                <div class="textoEliminar">
                  <div>
                    <h4>
                      <b><p>confirmar</p></b>
                    </h4>
                  </div>
                  <div>
                    <td id="delete-confirmation">{{ nameDelete }}</td>
                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="deleteData()"
                  mat-dialog-close
                >
                  <div class="alinearIconsButton">
                    <span class="material-icons"> check_circle </span>si
                  </div>
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="closedModal()"
                  mat-dialog-close
                >
                  <div class="alinearIconsButton">
                    <span class="material-icons"> cancel </span>
                    no
                  </div>
                </button>
              </div>
            </div>
          </ng-template>
          <!-- modal de eliminar -->
          <!-- modal de editar -->
          <ng-template #dialogUpdate>
            <div class="modal-header">
              <h4 class="modal-title pull-left" class="titulo">
                <div class="alinearIconsTitle">
                  <span class="material-icons"> bookmark </span>modificar
                </div>
              </h4>
              <button
                type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="closedModal()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form
                [formGroup]="form"
                (ngSubmit)="f.form.valid && updateData()"
                #f="ngForm"
                novalidate
              >
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label for="name">nombre</mat-label>
                  <input
                    matInput
                    formControlName="name"
                    name="name"
                    [(ngModel)]="dataRoles.name"
                    autocomplete="off"
                  />
                  @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
                    <mat-error>Name is <strong>required</strong></mat-error>
                  }
                  @if (form.get('name')?.hasError('minlength') && form.get('name')?.touched) {
                    <mat-error>Minimum 3 characters required</mat-error>
                  }
                </mat-form-field>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" (click)="updateData()">
                <div class="alinearIconsButton">
                  <span class="material-icons"> edit </span>modificar
                </div>
              </button>
              <button type="button" class="btn btn-danger" (click)="closedModal()">
                <div class="alinearIconsButton">
                  <span class="material-icons"> cancel </span>
                  cerrar
                </div>
              </button>
            </div>
          </ng-template>
          <!-- fin modal editar -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let producto; columns: displayedColumns"></tr>
    </table>
  </div>
</div>


  <mat-paginator
    [length]="total"
    [pageSize]="limit"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageChanged($event)"
  />
